.navLink {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  transition: color 0.3s;
  text-decoration: none;
}

.navLink:hover {
  color: #0b44cd;
}

.active {
  color: #0b44cd;
}

