.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F2F4F7;
  padding: 24px 0;
  z-index: 10;
  box-sizing: border-box;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin: 0;
  padding: 0;
}

