.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f2f4f7;
  padding: 24px 0;
  z-index: 10;
}

.headerContainer {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 960px;
}

.headerContainer > nav {
  margin-right: 120px;
}

.navigation {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

